<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MultiRunner.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="MultiRunner.RunnerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <MultiRunner.AppSettings>
            <setting name="TestSetList" serializeAs="String">
                <value>CommonTests,LightSanity,FullSanity,HealthCheck,Robustness,STP</value>
            </setting>
            <setting name="logFolder" serializeAs="String">
                <value>Not Set</value>
            </setting>
            <setting name="TestSet" serializeAs="String">
                <value>LightSanity</value>
            </setting>
            <setting name="DebugMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GatewayAddress" serializeAs="String">
                <value>127.0.0.1 1</value>
            </setting>
            <setting name="Client1Address" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Client2Address" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Client3Address" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Client4Address" serializeAs="String">
                <value>None</value>
            </setting>
        </MultiRunner.AppSettings>
        <MultiRunner.RunnerSettings>
            <setting name="TestSetList" serializeAs="String">
                <value>LightSanity_Common,LightSanity_UPC,FullSanity,Robustness,STP_Cogeco,</value>
            </setting>
            <setting name="logFolder" serializeAs="String">
                <value>D:\Logs</value>
            </setting>
            <setting name="TestSet" serializeAs="String">
                <value>LightSanity_Common</value>
            </setting>
            <setting name="DebugMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GatewayAddress" serializeAs="String">
                <value>127.0.0.1 1</value>
            </setting>
            <setting name="Client1Address" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Client2Address" serializeAs="String">
                <value>None</value>
            </setting>
        </MultiRunner.RunnerSettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
